.character-details-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: black;
}

.character-details-card {
	display: flex;
	width: 100%;
	max-width: 960px;
	max-height: 608px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - 24px),
		calc(100% - 24px) 100%,
		0 100%
	);
}

.character-details-card__image-container {
	width: 100%;
	height: 400px;
	max-height: 400px;
	padding: 10px;
	overflow: hidden;
}

.character-details-card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	overflow: hidden;
}

.character-details-card__info {
	display: flex;
	flex-direction: column;
	padding: 24px 16px 48px 16px;
	background-color: black;
	color: white;
	gap: 24px;
}

.character-details-card__info-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.character-details-card__favorite-icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 21.68px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.character-details-card__info-favorite-icon {
	width: 100%;
	height: 100%;
}

.character-details-card__info-name {
	font-size: 32px;
	font-family: "Roboto-condensed-bold", sans-serif;
}

.character-details-card__info-description {
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%;
}

.character-details-card__info-description-text {
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

@media (min-width: 600px) {
	.character-details-card {
		display: flex;
		flex-direction: row;
		max-height: 278px;
	}

	.character-details-card__image-container {
		width: 30%;
		height: 278px;
		padding: 10px 10px 0 10px;
	}

	.character-details-card__image {
		width: 100%;
		height: 100%;
	}

	.character-details-card__info {
		justify-content: center;
		align-items: center;
		width: 70%;
		padding: 0 48px;
	}
}
