@font-face {
	font-family: "Roboto-condensed";
	font-weight: 400;
	src:
		local("Roboto-condensed"), url("./assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
	font-family: "Roboto-condensed-bold";
	src:
		local("Roboto-condensed-bold"),
		url("./assets/fonts/RobotoCondensed-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	font-family: "Roboto-condensed", sans-serif;
	line-height: 100%;
	font-weight: 400;
	letter-spacing: 0%;
	font-style: normal;
}
input,
button,
textarea,
select {
	font: inherit;
}

p {
	text-wrap: pretty;
	line-height: 120%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	line-height: 120%;
}

img,
video,
svg {
	height: auto;
	max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms;
		animation-iteration-count: 1;
		transition: none;
		scroll-behavior: auto;
	}
}

.home-container {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.home-title {
	padding-top: 8px;
	max-width: 1416px;
	text-align: start;
	width: 100%;
	font-size: 24px;
	font-family: "Roboto-condensed-bold", sans-serif;
	letter-spacing: 0%;
	font-style: normal;
}

.home-search-container {
	width: 100%;
	max-width: 1416px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 12px 0;
	justify-content: center;
}

.home-search-input-container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
	padding-bottom: 8px;
	border-bottom: 1px solid black;
}

.home-search-results {
	font-size: 12px;
}

.home-search-input {
	flex: 1;
	line-height: 100%;
	letter-spacing: 0%;
	font-style: normal;
	font-weight: 400;
	border: none;
	outline: none;
}

.home-search-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12px;
	height: 12px;
}

.home-search-icon {
	width: 100%;
	height: 100%;
}

.home-character-list {
	list-style: none;
	display: flex;
	width: 100%;
	max-width: 1416px;
	flex-wrap: wrap;
	gap: 16px;
	margin: 0 auto;
}

.details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 48px;
	padding-bottom: 48px;
	animation: slideFromTop 400ms ease-out;
}

@keyframes slideFromTop {
	0% {
		transform: translateY(-60px);
	}
	100% {
		transform: translateY(0);
	}
}
